<h1>9 Panels Weather App</h1>
<div class="container box">
  <div class="row">
    <div class="col-md-4">
      <app-weather-widget-main></app-weather-widget-main>
    </div>
    <div class="col-md-4">
      <app-weather-widget-main></app-weather-widget-main>
    </div>
    <div class="col-md-4">
      <app-weather-widget-main></app-weather-widget-main>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <app-weather-widget-main></app-weather-widget-main>
    </div>
    <div class="col-md-4">
      <app-weather-widget-main></app-weather-widget-main>
    </div>
    <div class="col-md-4">
      <app-weather-widget-main></app-weather-widget-main>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <app-weather-widget-main></app-weather-widget-main>
    </div>
    <div class="col-md-4">
      <app-weather-widget-main></app-weather-widget-main>
    </div>
    <div class="col-md-4">
      <app-weather-widget-main></app-weather-widget-main>
    </div>
  </div>
</div>
